/* CSS declarations go here */

html, body, section, h1, ul, li, div, form {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
}

body {
  background: #5B8BCE;
}

input[type="text"] {
  /*padding: 3px 5px;*/
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

input[type="submit"] {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  background: transparent;
  box-sizing: content-box;
}

input#username {
  border: 1px solid black;
}

group:after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin: 10px 0 20px 0;
}

header {
  padding: 10px 0 20px 0;
  position: absolute;
  right: 0;
}

form#username{
  margin-right: 20px;
}

input#submit-username,
input#username {
  background: white;
  padding: 3px 5px;
}

.nav-right {
  float: right;
}

ul {
  list-style: none;
}

section.chat-room {
  width: 800px;
  padding: 8px;
  margin: auto;
  border: 2px solid #ccc;
  margin-bottom: 50px;
  background: #ccc;
}

ul#chats {
  height: 400px;
  overflow: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

ul#chats > li {
}

li.chat {
  font-size: 20px;
  padding: 3px 5px;
}

li.chat > .username {
  float: left;
  width: 150px;
  font-weight: bold;
  border-right: 1px solid black;
  /*height: 25;*/
  /*clear: right;*/

}

li.chat > .message {
  float: right;
  width: 635px;
  /*min-height: 25px;*/
  text-indent: 15px;
}

form.new-message {
  border: 1px solid #ccc;
}

input#message {
  font-size: 20px;
  padding: 5px;
  width: 700px;
  margin-right: 5px;
  border-right: 1px solid #ccc;
  background: white;
}

input#submit-message {
  width: 73px;
  color: black;
  background: white;
  cursor: pointer;
  font-size: 20px;
}



