/* CSS declarations go here */

html, body, section, h1, h2, ul, li, div, form {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
}

body {
  background: #3F2860;
}

input[type="text"] {
  /*padding: 3px 5px;*/
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

input[type="submit"] {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  background: transparent;
  box-sizing: content-box;
  border-radius: 10px;
}

input#username {
  border: 1px solid black;
}

group:after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-right: 15px;
}

header {
  padding: 10px 0 20px 0;
  position: absolute;
  right: 0;
  background: #FA8B60;
}

form#username{
  margin-right: 20px;
}

input#submit-username,
input#username {
  background: white;
  padding: 3px 5px;
}

.nav-right {
  float: right;
}

ul {
  list-style: none;
}

section.chat-room {
  width: 900px;
  height: 455px;
  padding: 15px;
  margin: auto;
  border: 4px solid #90C5A9;
  margin-bottom: 50px;
  background: #333333;
  border-radius: 10px;
}

ul#chats {
  height: 400px;
  overflow: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

ul#chats > li {
}

li.chat {
  font-size: 20px;
  padding: 3px 5px;
}

li.chat > .username {
  float: left;
  width: 150px;
  font-weight: bold;
  border-right: 1px solid black;
  /*height: 25;*/
  /*clear: right;*/

}

li.chat > .message {
  float: right;
  width: 516px;
  /*min-height: 25px;*/
  text-indent: 15px;
}


div.users-list {
  float: left;
  width: 170px;
  height: 381px;
  border: 1px solid #ccc;
  padding: 10px;
  background: white;
  border-radius: 8px;
  margin-right: 20px;
}

form.new-message {
  border: 1px solid #EF6D3B;
  border-radius: 5px; 
  float: right;
}

input#message {
  font-size: 20px;
  padding: 5px;
  width: 590px;
  margin: 4px 6px 4px 4px;
  background: white;
  border-radius: 5px;
}

input#submit-message {
  width: 68px;
  color: black;
  background: white;
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

